@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

:root {
    --primary: #bc4123;
    --secondary: #2b3452;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
    color: #fff;
}

body {
    padding: 20px;
    background: var(--secondary);
}

.App {
    text-align: center;
}

button {
    border: 0;
    padding: 8px;
    border-radius: 4px;
    color: white;
    background: var(--primary);
    cursor: pointer;
}


/** NAVIGATION */

.main-nav {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 1px solid white;
}

.main-nav h1 {
    margin-right: auto;
}

.main-nav a {
    text-decoration: none;
    padding: 6px;
}

.main-nav a.active {
    /* background: var(--primary); */
    border-bottom: 1px solid white;
}


/*** PAGES */

.home {
    height: 40vh;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.home h3 {
    margin-top: 1rem;
}

.content p {
    margin-top: 1rem;
}

.about {
    height: 40vh;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.about h3 {
    margin-top: 1rem;
}


/*** HELP */

.help-layout {
    padding: 20px;
}

.help-layout h3 {
    margin: 1rem;
}

.help_nav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.help_nav a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.help_nav a:hover {
    border-bottom: 1px solid white;
}

.help_nav a.active {
    border-bottom: 1px solid white;
}


/**FAQ */

.question {
    width: 90%;
    max-width: 900px;
    margin: 1rem auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 20px;
}


/** CONTACT */

form {
    margin-top: 30px;
}

form input,
form label span,
form textarea {
    display: block;
}

form input,
form textarea {
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 4px;
    border: 0;
    width: 300px;
    color: var(--secondary);
}

form label span {
    margin-bottom: 10px;
}


/*** Error page */

.error-btn {
    border: 0;
    padding: 8px;
    border-radius: 4px;
    color: white;
    background: var(--primary);
    cursor: pointer;
    display: block;
    margin: 4rem auto;
}

.error-link {
    text-decoration: none;
}